@page "/shortcut"
@inject IJSRuntime JS
@rendermode InteractiveServer


<h3>Shift + P Shortcut Example</h3>

<button @onclick="DoSomething">Test Action</button>

@code {
    private async Task DoSomething()
    {
        // Action to execute when Shift + P is pressed
        await JS.InvokeVoidAsync("alert", "Shift + P shortcut triggered!");
    }

    // JavaScript function to call DoSomething when Shift + P is pressed
    private async Task RegisterKeyDown()
    {
        await JS.InvokeVoidAsync("registerShortcut", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public async Task ExecuteShortcut()
    {
        await DoSomething();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RegisterKeyDown();
        }
    }
}
